logs
*.log
*.log*
coverage
bower_components
node_modules
jspm_packages
.npm
.eslintcache
.env
.cache/
.vscode
.DS_Store
.yarn-integrity
yarn.lock
/**/*.js
!/src/**/*.js
!index.js

# dev config files
!.eslintrc.js
!babel.config.js
